*{
    font-family: 'Bitter', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}
.kemal img {
    width: 350px;
    height: auto;
    margin-left: 500px;
}

section {
    background-color: transparent;
}

nav ul {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2em;
    height: 4em;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    /* background-color: rgb(27, 202, 233);
    height: 25px;
    border-radius: 10px; */
    
}
nav ul li a {
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(27, 202, 233);
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid transparent;
    /*text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;*/
}


nav ul li a:hover{
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid rgb(27, 202, 233);
    cursor: pointer;
    background: transparent;
}

.hero {
    display: flex;
}

.hero a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.hero a:hover {
    transform: scale(1.3);
    transition: .3s;
}
