*{
    font-family: 'Bitter', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    border: 1px solid purple;
}

nav ul {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2em;
    height: 4em;
}