*{
    font-family: 'Bitter', serif;
}

nav {
    background-color: rgb(251, 255, 0);
    margin: 50px 250px 10px 250px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 8px;
    justify-content: space-around;
}

nav ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}

nav ul li a {
    justify-content: space-around;
}
